<div>
    <h1>Favorite Articles</h1>
    {{#each results.list}}
        <p>
            <h4><a href={{url}} target="_blank">{{headlines}}</a></h4>
            <p>{{postDt}}</p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{_id}}" aria-expanded="false" aria-controls="{{_id}}">
                Show news summary
            </button>
            <a href="/article/{{_id}}" class="btn btn-info">View Comments</a>
            <form action="/remove-fav/{{_id}}" method="POST">
                <button class="btn btn-danger" type="submit">Remove Favorite</button>
            </form>
        </p>
        <div class="collapse" id="{{_id}}">
            <div class="card card-body">
                {{summary}}
                <img src={{imgURL}} class="newsImg" style="width:35%;"/>
            </div>
        </div>
    {{else}}
        <p>No articles to display.</p>
    {{/each}}
    {{#if pages}}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {{#each pages}}
                    <li class="page-item"><a class="page-link" href="/page/{{this}}">{{this}}</a></li>
                {{/each}}
                <li class="page-item"><a class="page-link" href="/page/2">Next</a></li>
                <li class="page-item"><a class="page-link" href="/page/{{last}}">Last</a></li>
            </ul>
        </nav>
    {{/if}}
</div>