<div>
    <h1>Favorite Articles</h1>
    {{#each results.list}}
        <div class="row">
            <div class="row">
                <div class="col">
                    <h5><a href={{url}} target="_blank">{{headlines}}</a></h5>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="row">
                <div class="col">{{postDt}}</div>
            </div>
            <div class="w-100"></div>
            <div class="row">
                <button class="badge badge-primary float-left" type="button" data-toggle="collapse" data-target="#{{_id}}" aria-expanded="false" aria-controls="{{_id}}">
                    Show news summary
                </button>
                <a href="/article/{{_id}}" class="float-left"><button class="badge badge-info">View Comments</button></a>
                <form action="/remove-fav/{{_id}}" method="POST">
                    <button class="badge badge-danger" type="submit">Remove Favorite</button>
                </form>
            </div>
            <div class="collapse row" id="{{_id}}">
                <div class="card card-body">
                    {{summary}}
                    <img src={{imgURL}} class="newsImg" style="width:35%;"/>
                </div>
            </div>
        </div>
        <hr class="style-eight">
    {{else}}
        <p>No articles to display.</p>
    {{/each}}
    {{#if pages}}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {{#each pages}}
                    <li class="page-item"><a class="page-link" href="/page/{{this}}">{{this}}</a></li>
                {{/each}}
                <li class="page-item"><a class="page-link" href="/page/2">Next</a></li>
                <li class="page-item"><a class="page-link" href="/page/{{last}}">Last</a></li>
            </ul>
        </nav>
    {{/if}}
</div>